<header style="background-color:gray">
  <%= render 'shared/header_navi'%>
</header>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2" style="background-color:#FFDDEE;">
      <%= render 'shared/side_nemu'%>
    </div>

    <div class="col-sm-8" style="background-color:blue;">
      Coming Soon
    </div>

    <div class="col-sm-2" style="background-color:yellow;">
      <h1>
        Coming Soon
      </h1>
    </div>

  </div>
</div>

<footer style="background-color:gray">
  ©️Tsubasa Nagahashi
</footer>