<header style="background-color:gray">
  <%= render 'shared/header_navi'%>
</header>

<div class="container-fluid">
  <div class="row">

    <div class="col-sm-2" style="background-color:#FFDDEE;">
      <%= render 'shared/side_nemu'%>
    </div>

    <div class="col-sm-7" style="background-color:blue;">
      <div class="contents">
        <div class="content__profile">
          プロフィール
        </div>
        <div class="content__calendar">
          カレンダー
        </div>
      </div>
    </div>

    <div class="col-sm-3" style="background-color:yellow;">
      <h1>
        チャットスペース
      </h1>
    </div>

  </div>
</div>

<footer>
  ©️Tsubasa Nagahashi
</footer>